<div class="container mx-auto mt-5">
	<div class="row">
		<div class="col-sm-4">
			<div class="d-flex align-items-center justify-content-center">
			<form>
				<div class="form-group my-2">
					<label for="name">Name </label>
					<input class="form-control" id="name" type="text" [formControl]="name">
				</div>
	
				<div class="form-group my-2">
					<label for="name">Job Title </label>
					<input class="form-control" id="name" type="text" [formControl]="jobTitle">
				</div>
	
				<div class="form-group my-2">
					<label for="name">Location </label>
					<input class="form-control" id="name" type="text" [formControl]="location">
				</div>		
	
				<div class="form-group my-2">
					<label for="name">Phone </label>
					<input class="form-control" id="name" type="text" [formControl]="phone">
				</div>
			</form>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="d-flex align-items-center justify-content-center">
				
					<table>
					  <tbody>
					    <tr>
					    <td><img src="../../../assets/tensure-logo.svg">
					    </td>
					    <td></td><td></td><td></td><td></td><td></td>
					    <td>
					      <span style="font-family: 'PT Sans', sans-serif;">{{this.name.value}}</span><br>
					      <b style="font-family: 'PT Sans', sans-serif;">{{this.jobTitle.value}}</b><br>
					      <a href="https://tensure.io" target="_blank"><span zeum4c4="PR_2_0" data-ddnwab="PR_2_0" aria-invalid="grammar" class="Lm ng" style="font-family: 'PT Sans', sans-serif;">Tensure</span></a><br>
					      <span style="font-family: 'PT Sans', sans-serif;">Cell: {{this.phone.value}}</span><br>
					      <span style="font-family: 'PT Sans', sans-serif;">{{this.location.value}}</span><br/>
					    </td>
					    </tr>
					  </tbody>
					</table>
			</div>
		</div>
	</div>
</div>